<div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase" style="font-size: larger;">
    <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a routerLink="/shop" routerLinkActive="active" class="nav-link px-2 link-dark">Shop</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-2 mr-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <!-- <button type="button" class="fa fa-shopping-cart fa-2x me-2 mr-5 text-dark"></button> -->
    <button type="button" class="btn btn-outline-secondary me-2">Login</button>
    <button type="button" class="btn btn-secondary">Sign-up</button>
  </div>
</header>
</div>
